<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd"
>
	<system>
		<section
			id='dfe_typography'
			showInDefault='1' showInStore='1' showInWebsite='1'
			translate='label'
		>
			<tab>_df</tab>
			<label>Typography</label>
			<class>separator-top</class>
			<resource>Dfe_Typography::config</resource>
			<group
				id='common'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1'
				translate='label'
			>
				<label>Common</label>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[]]></comment>
				</field>
				<field
					id='fonts'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='Dfe\Typography\Config\Fonts'
				>
					<label>Fonts</label>
					<comment><![CDATA[The fonts used in the store.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
			</group>
		</section>
	</system>
</config>