<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:module:Df_Config:etc/system_file.xsd"
>
    <system>
        <!--
            2015-07-10
            Минимальная длина идентификатора tab — 3 символа:
            https://github.com/magento/magento2/blob/1.0.0-beta/app/code/Magento/Config/etc/system_file.xsd#L405
            Поэтому ставим символ подчёркивания вначале.
        -->
        <tab id='_df' translate='label' sortOrder='-100'>
            <label>Mage2.PRO</label>
        </tab>
        <section
            id='dfe_typography'
            translate='label'
            type='text'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Typography</label>
            <class>separator-top</class>
            <resource>Dfe_Typography::config</resource>
            <group
                id='common'
                translate='label'
                type='text'
                sortOrder='1'
                showInDefault='1'
                showInWebsite='1'
                showInStore='0'
            >
                <label>Common</label>
				<field
					id='fonts'
					type='Df\Framework\Data\Form\Element\Font'
					translate='label'
					sortOrder='2'
					showInDefault='1'
					showInWebsite='1'
					showInStore='1'
				>
					<label>Fonts</label>
					<comment><![CDATA[The fonts used in the store.]]></comment>
                    <frontend_model>Dfe\Typography\Config\Fonts</frontend_model>
                    <backend_model>Df\Config\Table\Backend</backend_model>
				</field>
            </group>
        </section>
    </system>
</config>